<script>
    function change_text() {
        alert("diuhauhehukrge");
    };


    function myFunction() {
        alert("ALERT");
    }
</script>

{% extends "base/home.html" %}
{% block content %}
    <h2 class="d-flex align-items-center justify-content-center mt-5 mb-5">Your passwords</h2>
    {% for password in passwords %}
    
    <div class="d-flex align-items-center justify-content-center">

    </div>


    <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="card bg-black border border-white" style="width: 40%">
            <div class="d-flex justify-content-between border-bottom">
                <h5 class="card-header text-white" style="text-align: center; padding: 3%">{{password.title}}</h5>
                <a id="add-link" style="margin-right:12px" href="#">&#x2b;</a>
            </div>
            <div class="card-body">
                <p class="card-text text-white">{{password.description}}</p>
                <p class="card-text font-weight-light text-light">{{password.password}}</p>
                <a href="" onclick="change_text" class="lock mb-2 ml-5"></a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}