{% extends "base/home.html" %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center">
        <h2 class="mt-4 mb-4">Your passwords</h2>
        <a id="add-link" style="margin-left:5%" href="{% url 'password-create' %}">&#x2b;</a>
    </div>
    {% for password in passwords %}
        <div class="d-flex align-items-center justify-content-center mb-3">
            <div class="card bg-black border border-white" style="width: 40%">
                <div class="d-flex justify-content-between border-bottom">
                    <h5 class="card-header text-white" style="text-align: center; padding: 3%">{{password.title}}</h5>
                    <div class="d-flex row mt-2 mb-2 ml-2">
                        <a href="{% url 'password-update' password.id %}">Edit</a>
                        <a class="text-danger" href="{% url 'password-delete' password.id %}">Delete</a>
                    </div>
                </div>
                <div class="card-body">
                    <p class="card-text text-white"><i>Description: </i>{{password.description}}</p>
                    <p class="card-text font-weight-light text-light"><i>Password: </i>{{password.password}}</p>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}