{% extends "base/home.html" %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center">
        <h2 class="mt-4 mb-4">Your passwords</h2>
        <a id="add-link" style="margin-left:5%" href="{% url 'password-create' %}">&#x2b;</a>
    </div>
    
    {% for password in passwords %}


    <div class="d-flex align-items-center justify-content-center mb-3">
        <div class="card bg-black border border-white" style="width: 40%">
            <div class="d-flex justify-content-between border-bottom">
                <h5 class="card-header text-white" style="text-align: center; padding: 3%">{{password.title}}</h5>
                <a  class="delete-link mt-4 ml-3" style="margin-right:12px" href="#">&#215;</a>
            </div>
            <div class="card-body">
                <p class="card-text text-white">{{password.description}}</p>
                <p class="card-text font-weight-light text-light">{{password.password}}</p>
                <a href="#" class="lock mb-2 ml-5"></a>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}