{% extends 'base/home.html' %}
{% block content %}

<div class="d-flex align-items-center justify-content-center flex-column">
    <div class="card bg-black border border-white" style="width: 40%">
        <div class="card-body card-text text-white">
            <a href="{% url 'home' %}" class="d-flex align-self-start mb-3">&#8592;Go Back</a>
            <form action="" method="POST" >
                {% csrf_token %}
                <h4 class="mt-3 mb-4">Are you sure you want to delete '{{password}}'?</h4>
                <input class="button text-danger bg-black border border-danger rounded" type="submit" value="Submit"></input>
            </form>
        </div>
    </div>
</div>

{% endblock %}