{% extends "base/home.html" %}
{% block content %}

<div class="d-flex align-items-center justify-content-center flex-column">
    <div class="card bg-black border border-white" style="width: 40%">
        <div class="card-body card-text text-white">
            <a href="{% url 'home' %}" class="d-flex align-self-start mb-3">&#8592;Go Back</a>
            <form action="" method="POST" >
                {% csrf_token %}
                {{form.as_p}}
                <input class="button text-white bg-black border border-white rounded" type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock content %}
